@import url('./assets/font/font.css');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
  height: 100px;
}
::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-radius: 0.4em;
}
body {
  content-visibility: auto;
  width: 100%;
  font-family: PoppinsLight;
  background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container .row{
  width: 75%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width:1200px){
  .container {
    align-items: flex-start;
    justify-content: center;
    margin-top: 2em ;
    margin-bottom: 1em;
  }
  .container .row{
    flex-direction: column;
    width: 50%;
  }
}
@media only screen and (max-width:950px){
  .container .row{
    width: 65%;
  }
}
@media only screen and (max-width:650px){
  .container .row{
    width: 75%;
  }
}
@media only screen and (max-width:500px){
  .container {
    margin-bottom: 0;
  }
  .container .row{
    width: 100%;
  }
}